body{
    overflow-x: hidden;
    background-color: #1f1f1f;
}
header .ops{
    z-index:4;
    font-family: cursive;
}
header span{
    font-size:22px;
}
header span.glyphicon,header span.fa{
    font-size:22px;
    padding: 9px 12px;
}
header span{
    color: rgb(197, 196, 196);
}
header span.glyphicon:hover,header span.fa:hover{
    background-color: rgba(0, 0, 0, 0.589);
}
.quadro{
    height:120px;
    width:100%;
}
.entrada{
    width: 100%;
    height:40px;
    font-size: 22px;
    overflow-x: auto;
    color: grey;
}
.saida{
    width: 100%;
    height:80px;
    font-size: 50px;
    text-align: right;
}
.saida:hover,.entrada:hover{
    color: cadetblue;
    cursor: default;
}
.mais div.thumbnail:first-child{
    margin-top:40px;
}
.mais div.thumbnail{
    background-color: transparent;
    border: none;
}
.mais .caption{
    margin:0px;
    padding: 0px;
}
.mais span{
    font-size:22px;
}
.mais span.glyphicon,.mais span.fa{
    font-size:42px;
}
main .btn-group{
    width:100%;
}
main .btn{
    width:20%;
    border:2px solid #1f1f1f;
    padding: 15px 2px;
    background-color: #131313;
    font-size:17px;
    font-weight: 700;
    outline: none;
}
.btn:hover{
    background-color: #d6d6d60e;
    color: black;
}
.btn:active{
    background-color: black;
    color: white;
}
main .num{
    background-color: #060606;
}
.op:hover{
    background-color: teal;
}
.mais{
    width:100%;
    margin-left:-100%;
    height:100vh;
    overflow-y: auto;
    background-color: rgb(26, 26, 26);
    position: absolute;
    transition: all .3s linear;
    z-index:3;
}
.historico{
    width:100%;
    /* position: absolute; */
    margin-left:100%;
    height:70vh;
    overflow: auto;
    background-color: rgba(20, 20, 20, 0.863);
    transition: all .3s linear;
    z-index:4;    
}
.historico .fa-trash{
    position: absolute;
    right:0;
    bottom:0;
}
.historico .fa:hover{
    background-color: rgba(0, 0, 0, 0.356);
}
.historico .fa:active{
    background-color:white;
    color: black;
}
.historico .media{
    border-bottom:1px solid rgba(255, 255, 255, 0.76);
}
.historico .media:hover{
    background-color: rgba(128, 128, 128, 0.514);
}
.dentro{
    margin-left:0%;
}
.dentro2{
    margin-left:0px;
}
.fora{
    margin-left:-300%;
}
.modal-content{
    border-bottom: none;
}
.close{
    color: black;
}
.close:hover{
    color:red;
}
.modal-body .list-group-item{
    border-top: none;
    border-left: none;
    border-right: none;
}
.modal ul li.list-group-item:hover{
    background-color: rgba(0, 0, 0, 0.781);
}
@media (min-width:585px){
    *{
        max-width:585px;
    }

}